@import url("https://fonts.googleapis.com/css?family=Rubik");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 100%;
    color: #707070;
    text-align: center;
}

img{
    max-width: 100%;
}

h1 {
    color: #3B3B3B;
    font-size: 2em;
}

h3 {
    color: #3B3B3B;
    font-size: 1.375em;
}

.borde{
    border:#6ACBE0 thin solid;
}

/******************************************/
/* Estilos de headernav                   */
/******************************************/
#headernav {
    background: #ECECEC;
}

.link-menu {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #6984E6;
}

video{
    width: 100%;
    height: auto;
}
/******************************************/
/* Estilos de principal                   */
/******************************************/
#principal {
    margin-top: 3.125em;
    /*min-height: 28.125em;*/
}

.espacio {    
    min-height: calc(100vh - 4.6875em);
}



/******************************************/
/* Estilos de producto                    */
/******************************************/
#producto {
    background: -webkit-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: -moz-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    color: #FFFFFF;
}

.espacio-row {
    padding-top: 3em;
    padding-bottom: 3em;
}

/******************************************/
/* Estilos de pie                         */
/******************************************/
#pie {
    background: #3B3B3B;
    color:#FFFFFF;
    height: 4.6875em;
}

#contacto{
    background: -webkit-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: -moz-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    color: #FFFFFF;
}


input, textarea {
	display: block;
	width: 28.125em;
	margin: 0;
	border: thin solid #707070;
  	border-radius: 0.3125em;
	outline: none;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {	
	height: 3em;
}